<div>
    <div>
        <h3>Add client</h3>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="add-firstname" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="add-name" name="name" placeholder="Name" ng-model="Input" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Close()">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="Add()">Add</button>
            </div>
        </form>
    </div>
</div>