<div>
    <div ng-repeat="data in topData">
        <table class="table table-bordered w-100">
            <tr>
                <td ng-click="selectionChange(data.clientId, data.name, data.orders)">
                    <a href="#">{{data.name}}</a>
                </td>
                <td ng-click="navigateToEditClient(data.clientId)">
                    <a href="#">
                        Edit Client
                    </a>
                </td>
                <td ng-click="navigateToDeleteClient(data.clientId, data.name)">
                    <a href="#">
                        Delete Client
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="">
        <span class="btn btn-sm btn-outline-info" ng-click="prevPage()">Prev</span>
        <span>Page {{currentPage}}</span>
        <span class="btn btn-sm btn-outline-info" ng-click="nextPage()">Next</span>
    </div>
    <div>
        <p></p>
        <table class="table table-bordered w-100">
            <tr>
                <td ng-click="navigateToAddClient()" href="#">
                    <a href="#">
                        Add client
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <h1>Details about client:</h1>

    <div>
        <table class="table table-bordered w-100">
            <tr>
                <td>Client ID</td>
                <td>Client Name</td>
                <td>Orders</td>
            </tr>
            <tr>
                <td>
                    {{detail2.clientId}}
                </td>
                <td>
                    {{detail2.name}}
                </td>
                <td>
                    <div ng-repeat="order in detail2.orders">
                        <table class="table table-bordered w-100">
                            <tr>
                                <td>OrderID</td>
                                <td>OrderDetails</td>
                            </tr>
                            <tr>
                                <td>
                                    {{order.orderID}}
                                </td>
                                <td>
                                    {{order.orderDetails}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>